@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');
@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');
*{
    box-sizing: border-box;
    margin: 0;
}
h2 {
    background: url(../img/zen.svg);
    background-position: left 42% bottom 35%;
    background-repeat: no-repeat;
    background-size: contain;
}


body { 
    /* background-image: url(../img/bamboo.png); */
    background-color: white;
}

p {
    font-size: 12px;
    font-family: IBM Plex Mono;
    
}

h3 {
    font-family: IBM Plex Mono;
    font-size: 18px;

}
 

div[role="article"] p, h3{
    color:black;
    line-height: 2;
    padding-left: 80px;
    padding-right: 110px;
    
}
/* attribute */

h3 {
    color: black;
}

header {
    background-image: url(../img/huntington.png);
    height: 200px;
    padding-top: 65px;
    color: white;
    text-align: center;
}

[role="banner"] h1 {
        font-family: IBM Plex Mono;
        font-size: 32px;
        text-transform: uppercase;
        text-shadow: 2px 2px black;
}

[role="banner"] h2 {
    font-family: Satisfy;
    font-size: 16px;
}

[role="contentinfo"] {
    padding-top: 50px;
    text-align: center;
}



.participation {
    background-color: rgba(138,188,159,0.5);
    background-image: url(../img/bamboo.png);
    /* padding-left: 100px; */
    padding-bottom: 20px;
}

.participation p {
    color: white;
}
.participation a:link {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

[title="Cascading Style Sheets"] a:link {
    color: black;
}
/* doesn't work */

.summary a:link {
    color: black;
    text-decoration: none;
}

.benefits {
    background-color: rgba(138,188,159,0.5);
    background-image: url(../img/bamboo.png);
    /* padding-left: 100px; */
    /* background-position: left 20% bottom 45%; */
}

.benefits p{
    color: white;
}

[role="contentinfo"] {
    background-color: green;
    width: 100%;
    color: grey;
    padding-top: 25px;
    padding-bottom: 25px;
    line-break: auto;
    /* width: 100%; */
    display: inline-block;
   
    
}

[role="contentinfo"] a:link {
    font-family: Satisfy;
    color: white;
    font-size: 40px;
}

[role="contentinfo"] {
    font-size: 20px;
}

.zen-resources {
    background-color:rgba(138,188,159,0.5);
    background-image: url(../img/bamboo.png);
    font-family: IBM Plex Mono;
    text-align: center;
    
}
.sidebar {
    /* background-color: #c0cac3; */
    font-family: IBM Plex Mono;
}

#css-zen-garden footer {
    background-color: #134347;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#css-zen-garden footer a:link {
    color: white;
    font-size: 25px;
    text-decoration: none;
    margin-right: 25px;
}

.zen-resources li {
    list-style-type: none;
}

.design-name {
    color: black;
    font-size: 15px;
    font-family: IBM Plex Mono;
    text-decoration:none;
    padding-left: 200px;
}

.designer-name {
    color: grey;
    font-size: 10px;
    text-decoration:none;
}
.summary {
    padding-top: 15px;
    padding-bottom: 15px;
}
.preamble p {
    padding-bottom: 10px;
    line-break: auto;
}

.preamble {
    padding-bottom: 25px;

}
.requirements p {
    line-break: auto;
    padding-top: 10px;
}
.requirements {
    padding-top:20px;
}

.requirements a:link {
    color:black ;
    text-decoration: none;
}

[role="contentinfo"] a:link {
    color: white;
}

.main supporting .explanation {
    padding-top: 100px;
}

.next a:link {
    color: grey;
    text-decoration: none;
    /* padding-left: 200px; */
    

}

.viewall a:link {
    color:grey;
    text-decoration: none;
  
}


.zen-resources a:link {
    color: #134347;
    text-decoration: none;
}
[role="navigation"] li {
    list-style-type: none;
    text-align: center;
}

.explanation p {
    line-break: auto;
}

[role="navigation"] {
    display: flex;
    flex-wrap: wrap;
}


.zen-validate-html {
    color: white;
}

.zen-validate-css {
    color: white;
}

.zen-license {
    color: white;
}

.zen-accessibility {
    color: white;
}

.zen-github {
    color: white;
}

.view-css a {
    color: #54575c;
    text-decoration: none;
    list-style-type: none;
    padding-bottom: 10px;
}

.css-resources a {
    color: #54575c;
    text-decoration: none;
    list-style-type: none;
}

.zen-faq a {
    color: #54575c;
    text-decoration: none;
    list-style-type: none;
}

.zen-submit a {
    color: #54575c;
    text-decoration: none;
    list-style-type: none;
}

.zen-translations a {
    color: #54575c;
    text-decoration: none;
    list-style-type: none;
}

.resources {
    visibility: hidden;
}

.zen-resources {
    display: flex;
}

.select {
    visibility: hidden;
}

.archives {
    visibility: hidden;
}


div.design-selection li{
    height: 20px;
    width:20px;
    /* width:50% */
}


nav [role="navigation"] ul {
    display:flex;
    margin:0;
    padding: 0;
    /* flex-wrap:wrap; */
    list-style: none;
}




.zen-participation p {
    color: white;
}

#zen-participation p {
    color: white;
}

#zen-benefits p {
    color: white;
}

.participation a {
    color: black;
}

#zen-requirements {
    background-color:white;
}
